# Application
APP_NAME=team_manager

# Database Configuration
DATABASE_USER=postgres
DATABASE_PASSWORD=your_password_here
DATABASE_NAME=team_manager_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
SECRET_KEY=3d6f45a5fc12445dbac2f59c3b6c7cb1d8a4c6f9e2b3a1d0e7f4b8c2a9e6d3f

# Testing
TEST=false
# TEST=true

